#battlefield {
	border: 1px solid black;
	height: 480px;
	width: 1000px;
	margin: 10px auto;
}

#towers {
  /* display: none; */
  height: 80px;
  width: 202px;
  border: 2px solid #000000;
  background-color: yellow;
  margin: 10px auto;
}

#towers .header {
  height: 20px;
  width: 200px;
  border-bottom: 1px solid #000000;
}

.tower {
  height: 40px;
  width: 40px;
  float: left;
  background-color: white;
  margin: 5px;
}

.tower:hover {
  border: 1px solid #000000;
}
