#battlefield {
	border: 1px solid black;
	height: 480px;
	width: 1000px;
	margin: 10px auto;
}

.menu_box .header {
  height: 20px;
  width: 100%;
  border-bottom: 1px solid #000000;
  margin-bottom: 5px;
}

.menu_box img:hover {
  border: 1px solid #000000;
}

.menu_box {
  border: 1px solid black;
  height: 80px;
}